<div class="row">
	<div class="col-md-3">{data.tx_gridelements_view_column_0 -> f:format.raw()}</div>
	<div class="col-md-3">{data.tx_gridelements_view_column_1 -> f:format.raw()}</div>
	<div class="col-md-3">{data.tx_gridelements_view_column_2 -> f:format.raw()}</div>
	<div class="col-md-3">{data.tx_gridelements_view_column_3 -> f:format.raw()}</div>
</div>
