
h1 {
	font-size: 20px;
	font-weight: normal;
	color: #ff5500;
}

h2 {
	font-size: 15px;
	font-weight: normal;
	color: #333333;
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

table.table {
}

table.table-bordered {
}

table.table-condensed {
}

table.table > tbody > tr > td {
	vertical-align: middle;
}

span.small {
	font-size: 70%
}
