<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="container content">
		<f:cObject typoscriptObjectPath="lib.mainContent" />
	</div>
</f:section>

</html>